@{
    ViewData["Title"] = "O projekcie";
}

<p>Aplikacja postala w celach edukacyjnych. W założeniu ma ona pomóc w prowadzeniu finansów osobistych.<br>
   Jej podstawowe cechy to:
   <ul>
       <li>
            Śledzenie wydatków
       </li>
       <li>
            Tworzenie budżetów
       </li>
       <li>
            Analiza finansowa z wykresami i raportami
       </li>
   </ul>
</p>
<p><a href="https://github.com/mateuszur/FinancialApp" target="_blank"><img src="/Pictures/github-mark.png"></a>Strona projektu w serwisie <a href="https://github.com/mateuszur/FinancialApp" target="_blank">GitHub</a></p>
<p><a href="https://linkedin.com/in/mateusz-urbańczyk" target="_blank"><img src="/Pictures/LI-In-Bug.png" /></a>Profil autora w serwisie <a href="https://linkedin.com/in/mateusz-urbańczyk" target="_blank">LinkedIn</a></p>